@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin transformCenter{
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin positionAbsolute0{
    position: absolute;
    top: 0;
    left: 0;
}