$primaryLight:#e9e9e9;
$primaryDark: #252525;
$primaryAdd:#FE413D;
$primaryRed:#c53735;
$primaryGreen:#43aa48;

$primaryLight2:#d1e8e2;
$primaryDark2: #2c3531;
$primaryAdd2:#116466;
$primaryRed2:#d9b08c;
$primaryGreen2:#116466;
